<phpunit bootstrap="./tests/phpunit-bootstrap.php">
    <php>
        <!--
            Currently only supports connections using rsa auth.

            If you get an auth error when running the tests, you might need
            to execute this on the command-line:  eval `ssh-agent -s` && ssh-add
        -->
        <env name="SSH_USER" value="" />
        <env name="SSH_HOST" value="localhost" />
        <env name="SSH_PORT" value="22" />
    </php>

    <testsuite name="SSH Commands Test Suite">
        <directory>./tests/</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">src/Cully/Ssh/</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./tests/log/report" charset="UTF-8"
             yui="true" highlight="true"
             lowUpperBound="50" highLowerBound="80"/>
        <log type="testdox-html" target="./tests/log/testdox.html" />
    </logging>
</phpunit>
